.activities-main-container {
  display: flex;
  margin: 18px;
  flex-direction: row;
  flex-wrap: wrap;

  align-content: center;
  justify-content: center;

  background: rgb(147, 80, 192);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.493);
  padding: 0.5rem 1.5rem;
}

.activity {
  margin: 18px;
  border-radius: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgb(231, 170, 37), rgb(211, 146, 5));
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.493);
  height: 160px;
  width: 220px;
}

.activity-cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.activity-cardDesc {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.author {
  display: flex;
  justify-content: center;
}
