.auth-component-input {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgb(147, 80, 192);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.493);
  border: 5px solid rgb(211, 146, 5);

  margin: 28px;
}
button {
  font-family: "Times New Roman", Times, serif;

  padding: 8px;
  border-radius: 15%;
  text-decoration-line: none;
  color: rgb(0, 11, 109);
  background: linear-gradient(45deg, rgb(231, 170, 37), rgb(211, 146, 5));
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.493);
  margin: 5px;
  transform: translateY(4px);
}

button:hover {
  background: rgb(255, 102, 0);
  color: rgb(43, 36, 36);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.493);
}

.hello {
  color: white;
}
